<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <%- include('../partials/_head.ejs') %>
  <link rel='stylesheet' type='text/css' href='index.css'>
  <script src='bundled-index.js'></script>
</head>

<body>
  <div class=page-layout-header>
    <%- include('../partials/_header.ejs') %>
    <%- include('../partials/_nav.ejs') %>
  </div>

  <main class='page-layout-main'>
    <h2 class='page-heading'>Home</h2>
    <p class='page-description'>
      This site is for personal reference,
      used to record shell commands as well as other bits
      and pieces as I pick them up. It's the commands I use often,
      not a comprehensive list and written in my own words for easier understanding.
    </p>
  </main>

  <div class='page-layout-footer'>
    <%- include('../partials/_footer.ejs') %>
  </div>
</body>
<%- include('../partials/_svg_defs.ejs') %>
</html>
